<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="new.css">
</head>
<body>
    <div id="container">
    <form action="/home" method="post">
        <label for="quote">Quote</label>
        <input type="text" name="quote" id="quote">
        <br>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <br>
        <button>Submit</button>
    </form>
    </div>
</body>
</html>