<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is new page</h1>

    <form action="/comments" method="post">
        <label for="user">UserName</label>   <!-- binding with input by id label and input -->
        <input type="text" name="name" id="user">
        <br>
        <label for="comment">UserName</label> 
        <input type="text" name="comment" id="comment">
        <br>
        <button>Add now</button>
    </form>
</body>
</html>